:root {
    --GrisFosc: #141316;
    --BlancPur: #FFFFFF;
    --BlancFons: #F9F9F9;
    --GrisClar: #F1F2F6;
    --Morat: #7119E1;
    --MoratFosc : #250353;
    --Groc: #f0d807;
    --Serif: Cambria, Georgia, serif;
    --NoSerif: Verdana, Geneva, sans-serif;
}

body {
  font-family: var(--Serif);
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: var(--BlancFons);
}

header {
  text-align: center;
  background-color: var(--MoratFosc);
  color: var(--BlancPur);
  padding: 10px;
  clip-path: url(#clip-forquilla);
}


/*Enllaços menu principal*/
.menu-principal nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    justify-content: center;
}
.menu-principal nav ul li {
  padding: 5px 0px;
}

.menu-principal nav ul li.selected {
  font-weight: 700;
}

.menu-principal nav ul li a:hover {
    text-decoration: underline;
}

.menu-principal nav ul li a {
    text-decoration: none;
    color: var(--Blanc);
}


a {
  color: var(--BlancPur);
  text-decoration: none;
}

.title {
  margin-top: 30px;
  font-family: var(--NoSerif);
  font-size: 48px;
  text-align: center;
  font-weight: 700;
  line-height: initial;
  margin-bottom: 10px;
}

.subtitle {
  font-family: var(--NoSerif);
  margin: 0px;
  font-size: 20px;
  font-weight: 700;
}

h1 {
  font-family: var(--NoSerif);
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

p {
  font-size: 18px;
}

#contenidor-principal {
  width: 95%;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.img-gran {
  max-width: 850px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: var(--MoratFosc);
  color: var(--BlancPur);
  font-size: 12px;
  bottom: 0;
  left: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.img-presentacio {
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.img-mon {
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  clip-path: circle(44.6% at 50% 50%);
}

/*Categories: panell + plats*/

.panell {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.plat {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.plat:hover {
  transform: translateY(-5px);
}

.plat img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.descripcio-plat {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.descripcio-plat h2 {
  margin: 0 0 0.5rem;
  text-align: center;
  font-size: 18px;
}

.descripcio-plat p {
  font-size: 0.9rem;
  color: #555;
  text-align: center;
}

.descripcio-plat a {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  width: fit-content;
}

.descripcio-plat a.active {
  background-color: #ffc107;
  color: #000;
  cursor: pointer;
}

.descripcio-plat a.inactive {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  pointer-events: none;
}

a {
    text-decoration: none;
    color: var(--Morat);
}

a:hover {
    text-decoration: none;
    color: var(--GrisFosc);
}

/* Detalls */
.contenidor-iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    position: relative;
}

.contenidor-iframe iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.nota {
  color: var(--BlancPur);
  background-color: var(--Morat);;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  margin-top: 25px;
}

.nota p {
  margin: 3px;
  font-size: 28px;
  font-weight: bold;
}

#fletxa-amunt {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--MoratFosc);
  color: var(--BlancPur);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  z-index: 999;
}

#fletxa-amunt:hover {
  background-color: var(--Morat);
}

.groc {
  color: var(--Groc);
}

.icona-blanca {
  color: var(--BlancPur);
  font-size: 40px;
}


/* Animació plat SVG */

.title-container {
  display:inline-flex;
}

#plat1 {
  margin-right: 10px;
}

#plat2 {
  margin-left: 10px;
}

@keyframes bategar {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

.plat-svg {
  min-width: 55px;
  display: block;
  margin-bottom: auto;
  margin-top: auto;
  animation: bategar 2s infinite alternate;
}


/* Responsive - Tractaments específics */

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }
}

@media (max-width: 580px) {
  .nota .title-nota {
    display:none;
  }

  h1 {
    font-size: 22px;
  }
}

@media (max-width: 400px) {
  body {
    line-height: 1.4;
  }
  .title {
    font-size: 26px;
    line-height: 1.4;
    margin-bottom: 20px;
  }
  .subtitle {
    font-size: 20px;
    line-height: 1.4;
  }
  .nota p {
    font-size: 20px;
  }
  h1 {
    font-size: 18px;
  }
  .plat-svg {
    display:none;
  }
  
}